<app-header></app-header>
<body>
<section class="titles" style="margin-top: 20%;">

    <h1>--About Us---</h1>
    <p>Sending goods through courier works when you have enough time. However, you can’t run around looking for a courier all the time</p>

  </section>

  <section class="container-boxes">
    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-fire"></i></a>
      </div>

      <div class="text">
          <h3>Services</h3>
          <p>You can choose from a documents, electronics, clothes, books or mention what you want to send on this website.</p>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <i class="fas fa-seedling"></i>
      </div>

      <div class="text">
          <h3>The team</h3>
          <p>deliveries within the city using its own team. You can choose to have items picked up, packed and delivered</p>
      </div>

    </div>

    <div class="box">

      <div class="icon">
    <i class="fas fa-address-card"></i>
      </div>

      <div class="text">
      
          <h3>The Group</h3>
          <p>Become a member, become family. Teamwork is everything.</p>
    
      </div>

    </div>
  </section>
</body>
<div class="container">
    <div class="row">
         <div class="col-md-6">
     
           <img src="../../assets/images/parc.jpg" width="100%"  style="opacity:.5" />
         </div>
         <!-- /.col-md-6 -->
         <div class="col-md-6">
     
           <div class="row align-items-center h-100">
             <div class="col">
                     <h5 class="card-title text-uppercase" style="text-align: center;">OUR MISSION</h5>
               <p class="card-text text-justify">When the new age digital revolution hits a century old network, what do you get? Innovation and disruption in the logistics space.E-Parecel Delivery is here to revolutionize the Courier Services in Delhi.Our unique doorstep pick-up and drop off Same Day Parcel Delivery service has been made possible only due to the backing of PNP expert network combined with our latest homegrown technology.We are a people-centric company which was the brainwave of a budding thirteen-year-old entrepreneur who saw the ingenuity in combining the workforce with the power of internet-enabled apps to revolutionize the courier industry as we know it today.
 Our mission? Make your life easier, that’s it. Whether you’re our delivery partner, or a loyal customer, come join the Papers and Parcels family.
               </p>
            </div>
           </div>
        </div>
     <!-- /.col-md-6 -->
     </div>
    <!-- /.row -->
 </div>

<app-footer></app-footer>
