<div><input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li style="margin-top: 10%;">Travel Packet <span>Web Developer</span></li>
        <li><a href="https://vanila.io" target="_blank">Admin Dashboard</a></li>
        <li><a [routerLink]="['/adminplaceorder']">Placed Order</a></li>
        <!-- <li><a href="https://twitter.com/plavookac" target="_blank">Tracking History</a></li> -->
        <!-- <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">Tracking</a></li> -->
        <li><a [routerLink]="['/adminlogin']">Logout</a></li>
    
      </ul>
    </div> 
      </div>
  
      